<div class="px-4 py-5 my-5 text-center">
  <i class="fa-solid fa-user mb-4" style="font-size: 5em"></i>
  <h1 class="display-5 fw-bold">Aplicação de Empréstimos</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Projeto feito com Spring Boot e Angular para o treinamento de Jovens
      Profissionais da Minsait.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        routerLink="/clientes"
      >
        Exibir clientes
      </button>
    </div>
  </div>
</div>
